a {
    color: var(--accent-color);
    text-decoration: underline;
}

a:hover {
    color: var(--accent-color);
    text-decoration: underline;
}

body {
    color: var(--main-text-color);
    max-width: 80ch;
}

.w {
    color: var(--alt-text-color);
}

.F {
    color: var(--header-color);
}

.j {
    color: var(--contrast-color);
}

.c {
    color: var(--unaccent-color);
}

p.c {
    margin: 0;
}

pre {
    overflow-x: scroll;
    padding-bottom: 10px;
}